build/
lib/
dist/
node_modules/
.next/
.idea/
.vs/
*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.code-workspace
debug.log
*debug.log
Bundled*.js
.env*
!.env.example
*.pem
coverage
.DS_Store