.font-display {
  font-family: "IBM Plex Sans", "Noto Sans KR", "Noto Sans JP", Montserrat, meiryo, sans-serif;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}
