.editor {
  display: none;
  transition: opacity 0.85s ease-in 0s;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  font-family: Arial;
  color: rgb(0, 0, 0);
  z-index: 2147483647;
  transform: translateZ(0px);
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
}

.editor__back {
  display: block;
}

.editor__iframe {
  position: fixed;
  right: 10%;
  display: block;
  width: 70%;
  height: 498px;

  z-index: 2147483647;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 50px 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  background: black;

  left: 15%;
  top: 15%;
  /* transition: background-color 0.2s ease 0s; */

  border-radius: 4px;
}

@keyframes goDown {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes goUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150%);
  }
}

.goDown {
  animation: goDown 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.goUp {
  animation: goUp 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}